
body {
  background-image: url("https://cdn.shopify.com/s/files/1/0558/2081/files/Bletsis_TheGoonies_VAR_FINAL_SM_76c5717d-d20a-4767-bad4-1f04f7133929_1024x1024.jpg?v=1506625266");
  background-size: cover;
  cursor: grab;

}

h1 {
  font-family: 'Luckiest Guy';
  text-align: center;
  margin: auto;
  color: white; 
  font-size: 115px;
  text-shadow: 10px 2px 2px #010301;
  padding: 320px 0px 0px 10px;
  position: relative;

}

.restart-button {
  border: 2px solid white;
  padding: 8px 10px;
  text-align: justify; 
  font-family: 'Luckiest Guy';
  font-size: 15px;
  margin: auto;
  border-radius: 10px;
}

.board {
  padding: 0px 0 0 200px;
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

}

.card {
  margin: auto;
  position: relative;
  transition: all .5s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.card,
.back,
.front {
  height: 180px;
  width: 180px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background: radial-gradient(#ffffff 0%, #3333ff 110%);
  border-radius: 10px;
  border: 1px solid black;
}

.back {
  transform: rotateY(180deg);
  background-color: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  
}

.chosen {
  transform: rotateY(180deg);
}

.match .front {
  background: #ffffff;
  border: 1px solid 3333ff;
  box-shadow: 15px 5px #010301;
}

